.exercise06 {
    font-family: serif;
}
.exercise06 .children-position-relative * {
    position: relative;
}
.exercise06 .border-black,
.exercise06 .semantic-children-border-black nav,
.exercise06 .semantic-children-border-black aside,
.exercise06 .semantic-children-border-black article,
.exercise06 .semantic-children-border-black header,
.exercise06 .semantic-children-border-black footer,
.exercise06 .semantic-children-border-black section {
    border: solid 1px black;
}
.exercise06 .children-text-vertical-center h1,
.exercise06 .children-text-vertical-center h2,
.exercise06 .children-text-vertical-center h3,
.exercise06 .children-text-vertical-center h4,
.exercise06 .children-text-vertical-center h5,
.exercise06 .children-text-vertical-center h6
.exercise06 .children-text-vertical-center p,
.exercise06 .children-text-vertical-center span,
.exercise06 .children-text-vertical-center a,
.exercise06 .children-text-vertical-center li {
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
}
.exercise06 .children-font-family-auto * {
    font-family: auto;
}
.exercise06 .children-font-size-26 * {
    font-size: 26px;
}
.exercise06 .bg-black {
    background-color: black;
}
.exercise06 .color-white {
    color: white;
}
.exercise06 .font-size-56 {
    font-size: 56px;
}
.exercise06 .font-size-18 {
    font-size: 18px;
}
.exercise06 .w-1000 {
    width: 1000px;
}
.exercise06 .w-20-percent {
    width: 20%;
}
.exercise06 .w-54-percent {
    width: 54%;
}
.exercise06 .w-29-percent {
    width: 29%;
}
.exercise06 .h-max {
    height: 100%;
}
.exercise06 .h-300 {
    height: 300px;
}
.exercise06 .h-170 {
    height: 170px;
}
.exercise06 .h-130 {
    height: 130px;
}
.exercise06 .h-30 {
    height: 30px;
}
.exercise06 .h-20 {
    height: 20px;
}
.exercise06 .m-1 {
    margin: 10px;
}
.exercise06 .mx-1 {
    margin: 0 10px;    
}
.exercise06 .mx-2 {
    margin: 0 20px;
}
.exercise06 .mx-4 {
    margin: 0 40px;
}
.exercise06 .mx-7 {
    margin: 0 70px;
}
.exercise06 .my-1 {
    margin: 10px 0;
}
.exercise06 .mb-0 {
    margin-bottom: 0;
}
.exercise06 .mt-0 {
    margin-top: 0;
}
.exercise06 .pb-4 {
    padding-bottom: 40px;
}
.exercise06 .pr-1 {
    padding-right: 10px;
}
.exercise06 .flex-row {
    display: flex;
}
.exercise06 .bottom-50 {
    bottom: 50%;
}