.exercise08 .overflow-auto {
    overflow: auto;
}
.exercise08 .border-box {
    box-sizing: border-box;
}
.exercise08 .w-max {
    width: 100%;
}
.exercise08 .w-800 {
    width: 800px;
}
.exercise08 .w-450 {
    width: 500px;
}
.exercise08 .w-250 {
    width: 250px;
}
.exercise08 .h-700{
    height: 700px;
}
.exercise08 .h-460 {
    height: 460px;
}
.exercise08 .h-100 {
    height: 100px;
}
.exercise08 .h-80 {
    height: 80px;
}
.exercise08 .m-00 {
    margin: 0;
}
.exercise08 .m-20 {
    margin: 20px;
}
.exercise08 .mt-10 {
    margin-top: 10px;
}
.exercise08 .mt-40 {
    margin-top: 40px;
}
.exercise08 .ml-10 {
    margin-left: 10px;
}
.exercise08 .ml-15 {
    margin-left: 15px;
}
.exercise08 .padding-00 {
    padding: 0;
}
.exercise08 .p-20 {
    padding: 20px;
}
.exercise08 .pt-120 {
    padding-top: 120px;
}
.exercise08 .border-black {
    border: 1px solid black;
}
.exercise08 .border-4 {
    border-width: 4px;
}
.exercise08 .flex-row,
.exercise08 .flex-column {
    display: flex;
}
.exercise08 .justify-content-center {
    justify-content: center;
}
.exercise08 .position-relative {
    position: relative;
}
.exercise08 .absolute-vertical-center, .exercise08 .absolute-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.exercise08 .absolute-center {
    left: 50%;
    transform: translate(-50%, -50%);
}
.exercise08 .right-60 {
    right: 60px;
}
.exercise08 .list-style-none {
    list-style: none;
}
.exercise08 .font-weight-900 {
    font-weight: 900;
}
.exercise08 .color-green {
    color: rgb(159, 238, 41);
}
.exercise08 .color-red {
    color: rgb(255, 0, 74);
}