.overflow-auto {
    overflow: auto;
}
.border-box {
    box-sizing: border-box;
}
.w-max {
    width: 100%;
}
.w-800 {
    width: 800px;
}
.w-450 {
    width: 500px;
}
.w-250 {
    width: 250px;
}
.h-700{
    height: 700px;
}
.h-460 {
    height: 460px;
}
.h-100 {
    height: 100px;
}
.h-80 {
    height: 80px;
}
.m-00 {
    margin: 0;
}
.m-20 {
    margin: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-40 {
    margin-top: 40px;
}
.ml-10 {
    margin-left: 10px;
}
.ml-15 {
    margin-left: 15px;
}
.padding-00 {
    padding: 0;
}
.p-20 {
    padding: 20px;
}
.pt-120 {
    padding-top: 120px;
}
.border-black {
    border: 1px solid black;
}
.border-4 {
    border-width: 4px;
}
.flex-row, .flex-column {
    display: flex;
}
.justify-content-center {
    justify-content: center;
}
.position-relative {
    position: relative;
}
.absolute-vertical-center {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.absolute-center {
    left: 50%;
    transform: translate(-50%, -50%);
}
.right-60 {
    right: 60px;
}
.list-style-none {
    list-style: none;
}
.font-weight-900 {
    font-weight: 900;
}
.color-green {
    color: rgb(159, 238, 41);
}
.color-red {
    color: rgb(255, 0, 74);
}