.exercise02 .bg-blue {
    background-color: rgb(64, 131, 255);
}
.exercise02 .color-white {
    color: white
}
.exercise02 .visited-color-red:visited {
    color: red;
}
.exercise02 .hover-color-purple:hover, .hover-color-purple *:hover {
    color: rgb(98, 0, 255);
}
.exercise02 .m-1 {
    margin: 1em;
}
.exercise02 .p-1 {
    padding: 1em;
}