.exercise09 .w-98-vw {
    width: 98vw;
}
.exercise09 .w-max {
    width: 100%;
}
.exercise09 .w-30-percent {
    width: 30%;
}
.exercise09 .w-240 {
    width: 240px;
}
.exercise09 .w-230 {
    width: 230px;
}
.exercise09 .w-unset {
    width: unset;
}
.exercise09 .h-94-vh {
    height: 94vh;
}
.exercise09 .h-max {
    height: 100%;
}
.exercise09 .h-72-percent {
    height: 72%;
}
.exercise09 .h-16-percent {
    height: 16%;
}
.exercise09 .h-7-percent {
    height: 7%;
}
.exercise09 .h-240 {
    height: 240px;
}
.exercise09 .m-0 {
    margin: 0;
}
.exercise09 .mx-2-vw {
    margin-left: 2vw;
    margin-right: 2vw;
}
.exercise09 .mx-10 {
    margin-left: 10px;
    margin-right: 10px;
}
.exercise09 .my-4-vh {
    margin-top: 4vh;
    margin-bottom: 4vh;
}
.exercise09 .my-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.exercise09 .mb-2-percent {
    margin-bottom: 2%;
}
.exercise09 .mt-1-percent {
    margin-top: 1%;
}
.exercise09 .mr-4-percent {
    margin-right: 4%;
}
.exercise09 .mr-6-percent {
    margin-right: 6%;
}
.exercise09 .p-0 {
    padding: 0;
}
.exercise09 .border-black {
    border: 1px solid black;
}
.exercise09 .border-2 {
    border-width: 2px;
}
.exercise09 .border-4 {
    border-width: 4px;
}
.exercise09 .border-box {
    box-sizing: border-box;
}
.exercise09 .flex-row, .exercise09 .flex-column {
    display: flex;
}
.exercise09 .flex-column {
    flex-direction: column;
}
.exercise09 .flex-nowrap {
    flex-wrap: wrap;
}
.exercise09 .justify-content-center {
    justify-content: center;
}
.exercise09 .justify-content-space-between{
    justify-content: space-between;
}
.exercise09 .position-relative {
    position: relative;
}
.exercise09 .position-absolute {
    position: absolute;
}
.exercise09 .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.exercise09 .top-35-percent {
    top: 35%;
}
.exercise09 .bottom-0-percent {
    bottom: 0%;
}
.exercise09 .right-1-percent {
    right: 1%;
}
.exercise09 .text-align-center {
    text-align: center;
}
.exercise09 .font-size-2 {
    font-size: 2em;
}
.exercise09 .font-size-1 {
    font-size: 1em;
}
.exercise09 .font-weight-900 {
    font-weight: 900;
}
.exercise09 .font-family-arial {
    font-family: Arial;
}
.exercise09 .bg-black {
    background-color: black;
}
.exercise09 .bg-gold {
    background-color: gold;
}
.exercise09 .bg-b19ed8 {
    background-color: #b19ed8;
}
.exercise09 .bg-afafaf {
    background-color: #afafaf;
}
.exercise09 .color-whitesmoke {
    color: whitesmoke;
}
.exercise09 .color-812d81 {
    color: #812d81;
}
.exercise09 .color-gold {
    color: gold;
}
.exercise09 .color-dodgerblue {
    color: dodgerblue
}
.exercise09 .color-black {
    color: black;
}
.exercise09 .list-style-type-none {
    list-style-type: none;
}
@media (max-width: 869px)and (min-width: 510px) {
    .exercise09 .media-869-w-max {
        width: 100%;
    }
    .exercise09 .media-869-h-12-percent {
        height: 12%;
    }
    .exercise09 .media-869-h-unset {
        height: unset;
    }
    .exercise09 .media-869-flex-row {
        display: flex;
        flex-direction: row;
    }
    .exercise09 .media-869-flex-column {
        flex-direction: column;
    }
    .exercise09 .media-869-justify-content-space-evenly {
        justify-content: space-evenly;
    }
}
@media (max-width: 510px) {
    .exercise09 .media-510-w-max {
        width: 100%;
    }
    .exercise09 .media-510-h-unset {
        height: unset;
    }
    .exercise09 .media-510-flex-column {
        display: flex;
        flex-direction: column;
    }
    .exercise09 .media-510-h-15-percent {
        height: 15%;
    }
}