.border-box {
    box-sizing: border-box;
}
.final-project .w-100-percent {
    width: 100%;
}
.final-project .w-65-percent {
    width: 65%;
}
.final-project .w-33dot3-vw {
    width: 33.3vw;
}
.final-project .w-26-vw {
    width: 26vw;
}
.final-project .w-9dot5-vw {
    width: 9.5vw;
}
.final-project .h-24dot6-vw {
    height: 24.6vw;
}
.final-project .h-23-vw {
    height: 23vw;
}
.final-project .h-5-vw {
    height: 5vw;
}
.final-project .h-2dot8-vw {
    height: 2.8vw;
}
.final-project .p-00 {
    padding: 0;
}
.final-project .pt-0dot5-vw {
    padding-top: 0.5vw;
}
.final-project .pt-01-vw {
    padding-top: 1vw;
}
.final-project .pl-1dot5-vw {
    padding-left: 1.5vw;
}
.final-project .pl-05-vw {
    padding-left: 5vw;
}
.final-project .pb-01-vw {
    padding-bottom: 1vw;
}
.final-project .pr-05-vw {
    padding-right: 5vw;
}
.final-project .pr-05-vw {
    padding-right: 5vw;
}
.final-project .ml-minus-0dot4-vw {
    margin-left: -0.4vw;
}
.final-project .mb-03-vw {
    margin-bottom: 3vw;
}
.final-project .mb-2dot33-vw {
    margin-bottom: 2.33vw;
}
.final-project .mb-1dot7-vw {
    margin-bottom: 1.7vw;
}
.final-project .mb-1dot6-vw {
    margin-bottom: 1.6vw;
}
.final-project .border-radius-100 {
    border-radius: 100px;
}
.final-project .border-none {
    border: none;
}
.final-project .border-00dot25-vw {
    border-width: 0.25vw;
}
.final-project .border-l-00 {
    border-left-width: 0;
}
.final-project .border-r-00 {
    border-right-width: 0;
}
.final-project .border-solid {
    border-style: solid;
}
.final-project .border-color-e5e5e5 {
    border-color: #e5e5e5;
}
.final-project .d-block {
    display: block;
}
.final-project .flex-row, .flex-column {
    display: flex;
    flex-direction: row;
}
.final-project .flex-column {
    flex-direction: column;
}
.final-project .justify-content-space-evenly {
    justify-content: space-evenly;
}
.final-project .justify-content-center {
    justify-content: center;
}
/*backgraound color for nav*/
.final-project .bg-color-f3f3f4 {
    background-color: #f3f3f4;
}
/*button contacto enviar bg-color*/
.final-project .bg-color-0baae8 {
    background-color: #0baae8;
}
.final-project .bg-img-gradient-e2e2e2-white-25 {
    background-image: linear-gradient(#e2e2e2, white 25%)
}
.final-project .font-weight-500 {
    font-weight: 500;
}
.final-project .font-size-03-vw {
    font-size: 3vw;
}
.final-project .font-size-1dot8-vw {
    font-size: 1.8vw;
}
.final-project .font-size-1dot4-vw {
    font-size: 1.4vw;
}
.final-project .font-size-1dot3-vw {
    font-size: 1.3vw;
}
/*gray color for nav options*/
.final-project .color-9c89a2 {
    color: #9c89a2;
}
.final-project .color-a8eef8 {
    color: #a8eef8;
}
/*Contact form title color*/
.final-project .color-4d5155 {
    color: #4d5155;
}
/*Contact sentence color*/
.final-project .color-706570 {
    color: #706570;
}
/*Contact title*/
.final-project .text-shadow-0dot1-vw-7ba5cf-minus-0dot1-vw-edd1b0 {
    text-shadow: 0.1vw 0 #7ba5cf, -0.1vw 0 #edd1b0;
}
/*Contact sentence*/
.final-project .text-shadow-minus-0dot1-vw-e8d5c0-0dot1-vw-8f94be-0-minus-0dot1-vw-a5bdd4 {
    text-shadow: -0.1vw 0 #e8d5c0, 0.1vw 0 #8f94be, 0 -0.1vw #a5bdd4;
}
.final-project .list-style-none {
    list-style: none;
}
.final-project .resize-none {
    resize: none;
}

/*------------------HOVER--------------------*/

.final-project .color-blueviolet:hover {
    color: blueviolet;
}

/*-----------------ACTIVE-------------------*/

/*selected nav item*/
.final-project .color-69cbf1 {
    color: #69cbf1
}