.w-200 {
    width: 200px;
}
.h-450 {
    height: 450px;
}
.float-right {
    float: right;
}
.float-left {
    float: left;
}
.m-1 {
    margin: 1em;
}
.align-left {
    text-align: left;
}
.align-center {
    text-align: center;
}
.align-right {
    text-align: right;
}
.font-size-20-em {
    font-size: 2em;
}
.font-size-15-em {
    font-size: 1.5em;
}
.font-size-08-em {
    font-size: 0.8em;
}
.font-family-arial {
    font-family: Arial;
}
.font-family-courier {
    font-family: Courier;
}
.font-family-verdana {
    font-family: Verdana;
}
.font-family-auto {
    font-family: auto;
}
.font-weight-bold {
    font-weight: bold;
}
.line-through-12-em {
    line-height: 1.2em;
}
.line-through-16-em {
    line-height: 1.6em;
}
.line-through-20-em {
    line-height: 2em;
}
.overflow-hidden {
    overflow: hidden;
}
.border-black {
    border: solid 1px rgb(41, 41, 41);
}
.border-3 {
    border-width: 3px;
}