.exercise05 .border-black {
    border: solid 1px black;
}
.exercise05 .children-th-bg-blue th{
    background-color: rgb(20, 134, 206)
}
.exercise05 .children-th-left th{
    text-align: left;
}
.exercise05 .children-td-right td{
    text-align: right;
}
.exercise05 .children-th-txt-blue th{
    color: rgb(0, 0, 151);
}
.exercise05 .font-family-arial {
    font-family: Arial;
}
.exercise05 .font-size-09 {
    font-size: .9em;
}
.exercise05 .font-weight-bold {
    font-weight: bold;
    color: rgb(0, 0, 48);
}
.exercise05 .width-190 {
    width: 190px;
}
.exercise05 .width-120 {
    width: 120px;
}
.exercise05 .width-150 {
    width: 150px;
}
.exercise05 .m-auto {
    margin: auto;
}